.main-register {
  width: 100vw;
}

.card {
  display: grid;
}

.container-register {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.tittle-register {
  color: var(--Linkedu-DarkLetter);
  font-family: Inter, sans-serif;
  font-size: 38px;
  font-weight: 900;
  text-align: center;
  margin: 10px 5px;
}

.action-buttons {
  display: flex;
  gap: 10px;
}

.step-button {
  margin-top: 15px;
  background-color: var(--Linkedu-Blue);
  border: 1px solid var(--Linkedu-Blue);
  height: 35px;
}

.p-button .p-button-label {
  font-size: 14px;
  transition-duration: 0.2s;
  font-weight: 400;
}

.p-steps .p-steps-item .p-menuitem-link .p-steps-number {
  color: var(--Linkedu-Blue);
  border: 1px solid var(--Linkedu-Blue);
  background: var(--Linkedu-White);
  min-width: 2rem;
  height: 2rem;
  line-height: 2rem;
  font-size: 1.143rem;
  z-index: 1;
  border-radius: 50%;
}

.p-steps .p-steps-item.p-highlight .p-steps-number {
  background: var(--Linkedu-LightBlue);
  color: var(--Linkedu-Blue);
}
