:root {
  --Linkedu-OffWhite: #FBF8F3;
  --Linkedu-Blue: #364FAB;
  --Linkedu-LightBlue: #C5DFFC;
  --Linkedu-LighterBlue: #F9FAFB;
  --Linkedu-DarkLetter: #2D313B;
  --Linkedu-DarkLetterSecond: #2F292A;
  --Linkedu-White: #FFF;
}