@import url('/public/assets/colorVariables');

.container-footer {
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: var(--Linkedu-Blue);
}

main {
  background-color: var(--Linkedu-OffWhite);
}