.position-card {
  min-height: var(--cardHeight);
  height: auto;  
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.p-card.position-card {
  margin: 16px !important;
}

.p-card.position-card > .p-card-body {
  padding: 24px 24px 0px !important;
}

.position-card .p-card-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.position-card .p-card-content {
  display: flex !important;
  flex-direction: column !important;
  flex: 1 1 auto !important;
  padding: 1px !important;
}

.position-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  margin: 0;
  padding: 0;
}

.card-title {
  margin: 0;
  flex: 1;
  min-width: 0;
  font-family: "Inter";
  font-size: 22px;
  font-weight: 700;
  color: var(--Linkedu-DarkBlueLetter);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.position-type {
  font-weight: 300;
  color: var(--Linkedu-Gray);
}

.position-work-hours {
  margin: 0;
  white-space: nowrap;
  flex-shrink: 0;
  opacity: 0.8;
  font-weight: 300;
}

.position-skills {
  margin-bottom: 12px;
}

.position-card-footer{
  padding-left: 0 !important;   /* ou apague a linha antiga */
  padding-right: 0 !important;
  padding-top: 14px !important;
}

.p-card.position-card .p-card-footer{
  display: flex !important;
  justify-content: flex-start !important;
}

.footer-left {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
}

.footer-right {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: auto;     
  flex: 0 0 auto;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon-badge {
  width: 25px;
  height: 25px;
  border-radius: 9999px;
  background: var(--Linkedu-Blue);
  color: var(--Linkedu-White);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 25px;
}

.icon-badge .pi {
  font-size: 13px;
  line-height: 1;
}

.position-lab,
.position-recruiter,
.position-course,
.position-skills {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 16px;
}

.position-lab {
  margin-top: 0;
}

.position-recruiter .value,
.position-course .value,
.position-skills .value,
.position-lab .value {
  flex: 1;
  min-width: 0;
}

.vaga-description {
  margin-bottom: 24px;
}

.vaga-row {
  display: flex;
  gap: 24px;
  margin-bottom: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.vaga-row .item {
  flex: 1 1 220px;
  min-width: 180px;
}

.vaga-row.wide {
  gap: 30px;
  margin-top: 28px;
  margin-bottom: 20px;
}

.vaga-row.wide .item {
  flex: 1 1 420px;
}

.vaga-row.link-row {
  background: var(--Linkedu-Blue) !important;
  height: 75px;
  width: calc(100% + 48px);
  margin-left: -24px;
  margin-right: -24px;
  margin-bottom: -32px;
  margin-top: 30px;

  border-radius: 0px;
  padding: 14px 24px;
  display: flex;
  align-items: center;
  gap: 10px;

  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
  overflow: hidden;
}

.vaga-row.link-row .pi {
  color: var(--Linkedu-White);
  font-size: 12px;
}

.vaga-row.link-row,
.vaga-row.link-row .link-label {
  color: var(--Linkedu-White);
  font-size: 14px;
  font: "Inter";
  font-weight: 100;
  flex: 0 0 auto;
  white-space: nowrap;
}

.vaga-row.link-row a {
  color: var(--Linkedu-White);
  font-weight: 300;
  display: block;
  flex: 1 1 auto;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom-left-radius: 24px;
}

.vaga-row .item .icon-badge {
  margin-right: 10px;
}

.vaga-row .item .value {
  margin-top: 6px;
  margin-left: 35px;
  font-weight: 300;
}

.vaga-dialog {
  border-radius: 30px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  overflow: hidden;
}

.vaga-dialog .p-dialog-title,
.vaga-dialog .p-dialog-header-icon {
  color: var(--Linkedu-White);
}

.vaga-dialog .p-dialog-header {
  background: var(--Linkedu-Blue) !important;
  color: var(--Linkedu-White);
  border-bottom: 0;
  font: "Inter";
}

.recommended-button.p-button {
  width: auto !important;

  background: #3F905A;
  border-color: #3F905A;
  height: 33px;    
  align-self: flex-start !important;  
  margin: 0 !important;       
}

.footer-right .details-button.icon-only.p-button,
.footer-right .exp-action.p-button {
  width: 33px;
  height: 33px;
  padding: 0 !important;
  display: inline-flex;
  
  font-size: 16px;
 

  border-radius: 8px !important;
  box-sizing: border-box;
}

.footer-right .details-button.icon-only.p-button .p-button-icon,
.footer-right .exp-action.p-button .p-button-icon {
  margin: 0 !important;
  line-height: 1;
}

.footer-right .details-button.icon-only.p-button .p-button-label,
.footer-right .exp-action.p-button .p-button-label {
  display: none;
}

.footer-right .action-buttons {
  display: flex;
  gap: 8px; 
}