.editcand-header {
  display: grid;
  grid-template-columns: 0.15fr 1fr;
  align-items: start;
  margin-bottom: 14px;
}

.editcand-avatar .picture-form {
  width: 120px;
  height: 120px;
}

.editcand-bio label {
  font-size: 13px;
  font-weight: 700;
  color: var(--Linkedu-DarkLetter);
}

.editcand-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.editcand-half-grid {
  margin: 10px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.editcand-field {
  display: flex;
  flex-direction: column;
}

.editcand-field label {
  font-size: 13px;
  font-weight: 700;
  color: var(--Linkedu-DarkLetter);
}

.editcand-actions {
  display: flex;
  justify-content: flex-end;
}

.save-edit-button.p-button {
  padding: 10px;
  background: var(--Linkedu-Blue);
  border-color: var(--Linkedu-Blue);
}

@media (max-width: 1100px) {
  .editcand-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 700px) {
  .editcand-header {
    grid-template-columns: 1fr;
  }
  .editcand-grid {
    grid-template-columns: 1fr;
  }
}
